@model IEnumerable<PI_EXPERT_SA_WEB.Models.ROL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipoRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numEquipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLEADO.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROYECTO.cedulaClienteFK)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipoRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numEquipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLEADO.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROYECTO.cedulaClienteFK)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
