@model PI_EXPERT_SA_WEB.Models.CLIENTE

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar cliente</h2>

<h3 style="color:red" class="text-center alert">¿Esta seguro que desea borrar?</h3>
<div class="form-horizontal text-center">
    <h4>Informacion del Cliente</h4>
    <hr />
    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2",@align ="left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.name, new { disabled = "disabled" })
        </div>
    </div>
    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.apellido1, htmlAttributes: new { @class = "control-label col-md-2" ,@align ="left"})
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.apellido1, new { disabled = "disabled" })
        </div>
    </div>
    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.apellido2, htmlAttributes: new { @class = "control-label col-md-2" ,@align ="left"})
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.apellido2, new { disabled = "disabled" })
        </div>
    </div>
    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" ,@align ="left"})
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.correo, new { disabled = "disabled" })
        </div>
    </div>
    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2",@align ="left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.telefono, new { disabled = "disabled" })
        </div>
    </div>
    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.provincia, htmlAttributes: new { @class = "control-label col-md-2",@align ="left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.provincia, new { disabled = "disabled" })
        </div>
    </div>
    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.canton, htmlAttributes: new { @class = "control-label col-md-2",@align ="left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.canton, new { disabled = "disabled" })
        </div>
    </div>
    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.distrito, htmlAttributes: new { @class = "control-label col-md-2",@align ="left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.distrito, new { disabled = "disabled" })
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col text-center">
            @*Aqui se muestran los botones de aceptar y cancelar *@
            <button type="submit" value="Aceptar" class="btn">
                <img src="~/images/check-symbol.svg" width="30" height="30">
            </button>
            
            <a href="@Url.Action("Details","CLIENTE", new { id = Model.cedulaPK })" style="float:right">
                <img src="~/images/close.svg" width="30" height="30" />
            </a>
        </div>
    }
</div>
