@model PI_EXPERT_SA_WEB.Models.CLIENTE

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal text-center">
        <h4>Información del cliente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.cedulaPK)

        <div class="form-group row offset-3">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" ,@align ="left"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row offset-3">
            @Html.LabelFor(model => model.apellido1, htmlAttributes: new { @class = "control-label col-md-2" ,@align ="left"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellido1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apellido1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row offset-3">
            @Html.LabelFor(model => model.apellido2, htmlAttributes: new { @class = "control-label col-md-2" ,@align ="left"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellido2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apellido2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row offset-3">
            @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" ,@align ="left"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row offset-3">
            @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2" ,@align ="left"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row offset-3">
            @Html.LabelFor(model => model.provincia, htmlAttributes: new { @class = "control-label col-md-2" ,@align ="left"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.provincia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.provincia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row offset-3">
            @Html.LabelFor(model => model.canton, htmlAttributes: new { @class = "control-label col-md-2" ,@align ="left"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.canton, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.canton, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row offset-3">
            @Html.LabelFor(model => model.distrito, htmlAttributes: new { @class = "control-label col-md-2",@align ="left"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.distrito, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.distrito, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col text-center ">
            
            <button type="submit" value="Aceptar" class="btn">
                <img src="~/images/check-symbol.svg" width="30" height="30">
            </button>
            <a href="@Url.Action("Index","CLIENTE", new { })" style="float:right">
                <img src="~/images/close.svg" width="30" height="30" />
            </a>
            
        </div>
    </div>

}





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
