@model IEnumerable<PI_EXPERT_SA_WEB.Models.CLIENTE>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de clientes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido1)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.apellido2)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.canton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distrito)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido1)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.apellido2)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.canton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distrito)
        </td>*@
        <td>
            <div>
                @Html.ActionLink("Mas informacion", "Details", new { id = item.cedulaPK }, new { @class = "btn btn-outline-secondary btn-sm text-center" })
            </div>
        </td>
    </tr>
}

</table>
<div class="col text-center">
    <p>
        @Html.ActionLink("Agregar cliente", "Create", null, new { @class = "btn btn-info btn-large text-center" })
    </p>
</div>