@model IEnumerable<PI_EXPERT_SA_WEB.Models.EMPLEADO>
@*@model IEnumerable<PI_EXPERT_SA_WEB.Models.ROL>*@
@{
    ViewBag.Title = "Equipo";
}

<h2>Equipo</h2>
<br />
<p>*Selecione los empleados que van a conformar el equipo*</p>

<table class="table" id="tblEmpleados">
    <tr>
        <th></th>
        <th hidden>Cédula</th>
        <th>Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>Correo</th>
    </tr>

    @for (int iterator = 0; iterator < Model.Count(); iterator++) {
        <tr>
            <td><input type="checkbox" id="checkBox" /></td>
            <td hidden>@Html.DisplayFor(modelItem => Model.ElementAt(iterator).cedulaPK)</td>
            <td>@Html.DisplayFor(modelItem => Model.ElementAt(iterator).nombre)</td>
            <td>@Html.DisplayFor(modelItem => Model.ElementAt(iterator).apellido1)</td>
            <td>@Html.DisplayFor(modelItem => Model.ElementAt(iterator).apellido2)</td>
            <td>@Html.DisplayFor(modelItem => Model.ElementAt(iterator).correo)</td>
        </tr>
    }
</table>
<br />

<div class="alert alert-danger" role="alert" id="insuficientEE" style="display:none">
    <strong>Error</strong> <br /> No seleccionó ningún empleado. <br /> No se puede guardar un equipo <strong>SIN</strong> empleados seleccionados.
</div>

<br />

<div class="alert alert-warning" role="alert" id="higherEE" style="display:none">
    <strong>Alerta</strong> <br /> Un equipo sólo puede estar formado por 5 desarrollaodres! <br /> Por favor seleccione <strong>SÓLO</strong>  5 empleados!
</div>


<button type="button" class="btn btn-primary" onclick="teamCheck()">Conformar Equipo</button>


<script>
    function teamCheck() {
        // Revisa que la cantidad de empleados desarrolladores sea menor o igual a 5

        //Reference the Table.
        var grid = document.getElementById("tblEmpleados");

        //Reference the CheckBoxes in Table.
        var checkBoxes = grid.getElementsByTagName("INPUT");
        var message = "Id Name                  Country\n";
        var teamMembers = ''

        // Count the number of rows
        var totalRows = 0;

        //Loop through the CheckBoxes.
        for (var i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked) {
                var row = checkBoxes[i].parentNode.parentNode;
                teamMembers += row.cells[1].innerHTML;
                teamMembers += "   " + row.cells[2].innerHTML;
                teamMembers += "   " + row.cells[3].innerHTML;
                teamMembers += "   " + row.cells[4].innerHTML;
                teamMembers += "\n";
                totalRows++;
            }
        }

        // Check if the user select more than 5 EEs or none at all
        if (totalRows == 0) {
            console.log(totalRows);
            var x = document.getElementById("insuficientEE");
            x.style.display = "block";
        } else if (totalRows > 5) {
            console.log(totalRows);
            var x = document.getElementById("higherEE");
            x.style.display = "block";
        } else {
            console.log("Se agregan los EEs al equipo; " + teamMembers);
            // Call the Controller to save the EE via query
            Html.Action("guardarEquipo", new { Type = teamMembers });

       
            
        }
    }

</script>

