@model List<PI_EXPERT_SA_WEB.Models.SP_DesarrolladoresAsignadosDisponibles_Result>
@{
    ViewBag.Title = "DesarrolladoresAsignadosDisponibles";
}


<h2>Desarrolladores asignados a proyectos y disponibles</h2>
<div>
    <table id="Asignados" style="width:50%; float:left" class="table table-bordered table-striped float-left">
        <tr>
            <th>
                Nombre Empleado
            </th>
            <th>
                Nombre Proyecto
            </th>
            <th>
                Fecha Inicio
            </th>
            <th>
                Duracion Estimada
            </th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    No hay resultados
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Nombre_desarollador)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Nombre_proyecto)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Fecha_Inicio)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Duracion_Estimada)
                    </td>
                </tr>
            }
        }
    </table>
    <table id="Disponibles" style="width:50%; float:right" class="table table-bordered table-striped float-left">
        <tr>
            <th>
                Nombre Empleado
            </th>
        </tr>
        @if (ViewBag.desarrolladores.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    No hay resultados
                </td>
            </tr>
        }
        else
        {
            foreach (var item in ViewBag.disponibles)
            {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.nombre) @Html.DisplayFor(ModelItem => item.apellido1) @Html.DisplayFor(ModelItem => item.apellido2)
                </td>
            </tr>
            }
        }
    </table>
</div>


<div>
    table
</div>