@*@model IEnumerable<PI_EXPERT_SA_WEB.Models.Group<string, CONSULTA  >>*@

@using PI_EXPERT_SA_WEB.Models
@model List<Group<string, CONSULTAS>>


@*Lista de agrupación por complejidad en requerimiento*@

<table class="table table-bordered table-striped" id="tabla">
    <tr>
        <th>
            Nombre Proyecto
        </th>
        <th>
            Estado
        </th>
        <th>
            Total de Requerimientos
        </th>
        <th>
            Fecha Estimada de Terminación
        </th>
    </tr>

    @foreach (var group in Model)
    {

    <tr>
        <td>
            @group.Values.ElementAt(0).modeloProyecto.nombre
        </td>

        @*@foreach (var item in group.Values.Select((value, i) => new { i, value }))
        {
            if (item.i == 0)
            {
                <td>@item.value.m</td>
            }
        }*@
        <td>
            @group.Key
        </td>
        <td>
            @group.suma
        </td>
        <td>
            @group.fecha
        </td>
    </tr>
    }
</table>
