@model PI_EXPERT_SA_WEB.Models.REQUERIMIENTO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("Index","REQUERIMIENTO", new {})" class="boton-icono" style="float:left">
    <img src="~/images/left-arrow.svg" width="30" height="30" />
</a>
<h2>Crear Requerimiento</h2>
<div class="required-field-asterisk">
    <p>*<span style="color:black">Campos requeridos</span> </p>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group row offset-3 required">
        @Html.LabelFor(model => model.idProyectoPK, "Proyecto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idProyectoPK", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idProyectoPK, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row offset-3 required">
        @Html.LabelFor(model => model.idModuloPK, "Módulo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idModuloPK", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idModuloPK, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row offset-3 required">
        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row offset-3 required">
        @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row offset-3 required">
        @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control", type= "date" } })
            @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group row offset-3 required">
        @Html.LabelFor(model => model.complejidad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("selection", new List<SelectListItem>() {new SelectListItem { Text = "1-Simple", Value = "1" }, new SelectListItem { Text = "2-Mediano", Value = "2" }, new SelectListItem { Text = "3-Complejo", Value = "3" }, new SelectListItem { Text = "4-Muy Complejo", Value = "4" } }, null, htmlAttributes: new { @class = "form-control" })
            @*@Html.EditorFor(model => model.complejidad, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.complejidad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row offset-3 required">
        @Html.LabelFor(model => model.duracionEstimada, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.duracionEstimada, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.duracionEstimada, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.cedulaDesarrolladorFK, "Desarrollador Asignado", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("cedulaDesarrolladorFK", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.cedulaDesarrolladorFK, "", new { @class = "text-danger" })
        </div>
    </div>

    @*Botón de Aceptar para guardar el requerimiento a crear*@
    <div class="col text-center">
        <div class="form-group">
            <div class="col-md-auto" style="margin-top: 50px">
                <input type="image" src="~/images/success.svg" alt=”submit” name=”submit” width="50" height="50" style="float: unset" />
            </div>
        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
