@model PI_EXPERT_SA_WEB.Models.REQUERIMIENTO

@{
    ViewBag.Title = "Delete";
}

@*Delete es una vista que permite a un usuario borrar un requerimiento y todos sus atributos del sistema.
    Esta vista cuenta con un aviso al usuario, a modo de confirmación o advertencia de si realmente desea borrar el oequerimiento en cuestión.*@

<a href="@Url.Action("Details","REQUERIMIENTO", new {idProyecto = Model.idProyectoPK, idModulo = Model.idModuloPK, idRequerimiento = Model.idRequerimientoPK})" class="boton-icono" style="float:left">
    <img src="~/images/left-arrow.svg" width="30" height="30" />
</a>
<h2>Borrar Requerimiento</h2>

<div class="separador"></div>
<div>
    <h4 style="color:red">¿Está seguro de que desea borrar este requerimiento y los datos asociados al mismo?</h4> <p></p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROYECTO.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROYECTO.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODULO.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODULO.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.complejidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.complejidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duracionEstimada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracionEstimada)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.EMPLEADO.nombre)*@
            Desarrollador
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADO.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFin)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col text-center">
            <div class="form-group">
                <div class="col-md-auto" style="margin-top: 50px">
                    @*Boton de confirmacion de borrado*@
                    <input type="image" src="~/images/success.svg" alt=”submit” name=”submit” width="50" height="50" style="float: unset" />
                </div>
            </div>
        </div>

    }
</div>
