@model IEnumerable<PI_EXPERT_SA_WEB.Models.REQUERIMIENTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@*<script>
    $(document).ready(function () {
        $("#idProyectoPK").change(function () {
            var proyectoID = $(this).val();
            debugger
            $.ajax({
                type: "post",
                url: "/REQUERIMIENTO/getListaModulos?idProyectoPK=" + proyectoID,
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#idModuloPK").empty();
                    $("#idModuloPK").append(response);
                }
            })
        })
    })
</script>*@
<script>
    $(document).ready(function () {
            $("#idProyectoPK").change(function () {
                var proyectoID = $("#idProyectoPK").val();
                $("#dropdownModulo").load('/REQUERIMIENTO/GetListaModulos?idProyectoPK=' + proyectoID);
                $("#crearReq").prop("href", '@(Url.Action("Create","REQUERIMIENTOS",null, Request.Url.Scheme))?idProyectoPK=' + proyectoID);
            });
    });
</script>


<h2>Index</h2>
@Html.DropDownList("idProyectoPK", null, "--Seleccionar Proyecto--")
<div id="dropdownModulo"></div>
  
<a href="@Url.Action("Create", "REQUERIMIENTO")" style="float:right">
        <img src="~/images/plus.svg" width="30" height="30" />
    </a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.complejidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracionEstimada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLEADO.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODULO.nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.idProyectoPK)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.idModuloPK)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.idRequerimientoPK)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.estado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fechaEstado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.complejidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.duracionEstimada)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EMPLEADO.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MODULO.nombre)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
       
        <a href="@Url.Action("Details","REQUERIMIENTO", new { idProyecto = item.idProyectoPK, idModulo = item.idModuloPK, idRequerimiento = item.idRequerimientoPK })" style="float:right">
            <img src="~/images/more.svg" width="30" height="30" />
        </a>
        <a href="@Url.Action("Delete","REQUERIMIENTO", new { idProyecto = item.idProyectoPK, idModulo = item.idModuloPK, idRequerimiento = item.idRequerimientoPK })" style="float:right">
            <img src="~/images/deleteImg.svg" width="30" height="30" />
        </a>
    </td>
</tr>
    }

</table>
