<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/scriptLocacion.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Styles/custom.css" rel="stylesheet" />
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-styles fixed-top">
        <div class="container">

            <a class="navbar-brand" >
                <img src="~/planet.svg" width="30" height="30" class="d-inline-block align-top" alt="Site logo">
                SoftwareExpert S.A.
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto nav-justified ">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Proyectos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="~/MODULO/Index">Módulos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Requerimientos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Equipo</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="~/EMPLEADOes/Index">Empleados</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Clientes</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" style="display:none">Disabled</a>
                    </li>

                </ul>

                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/user.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Mis datos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Salir</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav><nav class="navbar navbar-expand-lg navbar-light navbar-styles fixed-top">
        <div class="container"> 

            <a class="navbar-brand" href="#">
                <img src="~/planet.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                SoftwareExpert S.A.
            </a>
            <!--Para cuando se hace pequeño-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto nav-justified">

                    <li class="nav-item">
                        <a class="nav-link" href="~/PROYECTO/Index">Proyectos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="~/MODULO/Index">Módulos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Requerimientos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Equipo</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="~/EMPLEADOes/Index">Empleados</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="~/CLIENTE/Index">Clientes</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" style="display:none">Disabled</a>
                    </li>

                </ul>
                <!--Poner elementos a la dercha-->
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/user.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Mis datos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Salir</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="navbar-fill-space hidden"></div>
    <nav class="navbar navbar-inverse navbar-transparent"></nav>
</header>

<body>
    
    <div class="container body-content container-data">
        @RenderBody()
        <div class="separador"></div>
        <footer fixed-bottom>
            <p>&copy; @DateTime.Now.Year - SoftwareExpert S.A. - Ad Astra</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
