@model IEnumerable<PI_EXPERT_SA_WEB.Models.ROL>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Create permite al usuario crear un equipo, escogiendo sus miembros de acuerdo a sus habilidades, tras filtrar los empleados.*@

@*Botón de atrás/volver*@
<a href="@Url.Action("Index","ROL", new {})" class="boton-icono" style="float:left">
    <img src="~/images/left-arrow.svg" width="30" height="30" />
</a>

<h2>Crear Equipo</h2>

@*Campos requeridos con asterisco*@
<div class="required-field-asterisk">
    <p>*<span style="color:black">Campos requeridos</span> </p>
</div>

@*Buscador ****NO FUNCIONAL**** *@
@*<h4>Filtrar por habilidades:</h4>
    @using (Html.BeginForm("Index", "HABILIDADES", FormMethod.Get))
    {
        @Html.TextBox("busqueda")
        <input type="submit" value="Búsqueda" />
    }*@

@*Se hace uso de un dropdown para que el usuario especifique a qué proyecto quiere asignarle el equipo*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*Selección de proyecto cuyo equipo se desea crear*@
        <div class="form-group required">
            @Html.Label("Proyecto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("proyectosSinEquipo", null, htmlAttributes: new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.idProyectoPK, "", new { @class = "text-danger" })*@
            </div>
        </div>
    </div>
}

@*Formato para drag-and-drop de miembros del equipo*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<style>
    /*Formato de las listas de drag-and-drop*/
    #sortable1, #sortable2 {
        border: 1px solid #eee;
        width: auto;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        padding: 10px 0 0 0;
        /*float: left;*/
        margin-right: 10px;
    }

    #sortable1 li, #sortable2 li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 20px;
        color: #08415c;
        width: auto;
        background-color: #eee;
        border-color: #4d7ea8;
    }

    /*Formato de contenedor y elementos del grid que contiene las listas utilizadas en el drag-and-drop*/ 
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        background-color: #08415c;
        padding: 10px;
    }
    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
</style>

<body>
    @*Cada lista se encuentra dentro de un elemento del grid, para acomodarlas en dos columnas una al lado de la otra *@
    <div class="grid-container">
        <div class="grid-item">
            @*Se utiliza un foreach con el ViewBag del controlador para obtener la lista de empleados*@
            @foreach (var item in ViewBag.cedulaPK)
            {
                <ul id="sortable1" class="connectedSortable">
                    <li id=@item.Value class="ui-state-highlight">@item.Text</li>
                </ul>

            }
        </div>
        <div class="grid-item">
            @*La segunda lista está vacía inicialmente, será la lista de miembros del equipo cuando el usuario los elija y arrastre*@
            <ul id="sortable2" class="connectedSortable">
                @*<li class="ui-state-highlight">Item 1</li>
                    <li class="ui-state-highlight">Item 2</li>
                    <li class="ui-state-highlight">Item 3</li>
                    <li class="ui-state-highlight">Item 4</li>
                    <li class="ui-state-highlight">Item 5</li>*@
            </ul>
        </div>
    </div>
</body>

@*Botón de guardado del equipo*@
<div class="col text-center">
    <div class="form-group">
        <div class="col-md-auto" style="margin-top: 50px">
            <input type="image" src="~/images/success.svg" alt=”submit” name=”submit” width="50" height="50" style="float: unset" onclick = "myFunction()"/>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*Scripts para el sortable (drag-and-drop) de las listas*@
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#sortable1, #sortable2").sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();
        });
    </script>
    <script type="text/javascript">
        function myFunction() {
            var projectIndex = document.getElementById("proyectosSinEquipo").selectedIndex;
            var list = [];
            document.querySelectorAll("#sortable2 li")
                .forEach(function (item) {
                    var aux = item.id;
                    list.push(aux);
                });
            var p = document.getElementById("proyectosSinEquipo");
            var project = p.options[p.selectedIndex].getAttribute(p.idProyectoPK);
            console.log(project);
            console.log(list);
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("Create", "ROLController")',
                traditional: true,
                async: false,
                data: {
                    miembrosEquipo: list,
                    proyectoEquipo: project
                },
                success: function (json) {
                    if (!json.isRedirect) {
                        console.log('Exito');
                    }
                },
                error: function (errorList) {
                    console.log(errorList);
                    console.log("error");
                }
            })
        }
    </script>
}
