@model IEnumerable<PI_EXPERT_SA_WEB.Models.ROL>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Create permite al usuario crear un equipo, escogiendo sus miembros de acuerdo a sus habilidades, tras filtrar los empleados.*@

@*Botón de atrás/volver*@
<a href="@Url.Action("Index","ROL", new {})" class="boton-icono" style="float:left">
    <img src="~/images/left-arrow.svg" width="30" height="30" />
</a>

<h2>Crear Equipo</h2>

@*Campos requeridos con asterisco*@
<div class="required-field-asterisk">
    <p>*<span style="color:black">Campos requeridos</span> </p>
</div>

@*Buscador ****NO FUNCIONAL**** *@
@*<h4>Filtrar por habilidades:</h4>
    @using (Html.BeginForm("Index", "HABILIDADES", FormMethod.Get))
    {
        @Html.TextBox("busqueda")
        <input type="submit" value="Búsqueda" />
    }*@

@*Se hace uso de forms para recopilar la información.*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*Selección de proyecto cuyo equipo se desea crear*@
        <div class="form-group required">
            @Html.Label("Proyecto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idProyectoPK", null, htmlAttributes: new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.idProyectoPK, "", new { @class = "text-danger" })*@
            </div>
        </div>
        @*<div class="form-group row">
                @Html.Label("Desarrollador", htmlAttributes: new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.DropDownList("cedulaPK", null, "--Seleccionar Desarrollador--", htmlAttributes: new { @class = "form-control" })
                    @foreach (var item in ViewBag.cedulaPK)
                    {
                        <ul id="empleados1" class="connectedSortable">
                            <li>@item.Text</li>
                        </ul>

                    }
                </div>
            </div>*@
    </div>

}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<style>
    #sortable1, #sortable2 {
        border: 1px solid #eee;
        width: auto;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        padding: 10px 0 0 0;
        /*float: left;*/
        margin-right: 10px;
    }

    #sortable1 li, #sortable2 li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 20px;
        color: #08415c;
        width: auto;
        background-color: #eee;
        border-color: #4d7ea8;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        background-color: #08415c;
        padding: 10px;
    }
    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
</style>

<body>
    <div class="grid-container">
        <div class="grid-item">
            @foreach (var item in ViewBag.cedulaPK)
            {
                <ul id="sortable1" class="connectedSortable">
                    <li class="ui-state-highlight">@item.Text</li>
                </ul>

            }
        </div>
        <div class="grid-item">
            <ul id="sortable2" class="connectedSortable">
                <li class="ui-state-highlight">Item 1</li>
                <li class="ui-state-highlight">Item 2</li>
                <li class="ui-state-highlight">Item 3</li>
                <li class="ui-state-highlight">Item 4</li>
                <li class="ui-state-highlight">Item 5</li>
            </ul>
        </div>
    </div>
</body>


<div class="col text-center">
    <div class="form-group">
        <div class="col-md-auto" style="margin-top: 50px">
            <input type="image" src="~/images/success.svg" alt=”submit” name=”submit” width="50" height="50" style="float: unset" />
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#sortable1, #sortable2").sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();
        });
    </script>
}
