@model PI_EXPERT_SA_WEB.Models.ROL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ROL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipoRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoRol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numEquipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numEquipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLEADO.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADO.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROYECTO.cedulaClienteFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROYECTO.cedulaClienteFK)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
