@model IEnumerable<PI_EXPERT_SA_WEB.Models.CONSULTAS>


@Html.Label("Líder del Equipo: ")
@TempData.Peek("liderNombre").ToString()



<table class="table table-striped">
    <tr>
        <th>
            Integrantes
        </th>
        <th>
            Rol en el Equipo
        </th>
        <th>
            Mas Información
        </th>
    </tr>

    @foreach (var item in Model)
    {
        var nombreCompleto = item.modeloEmpleado.nombre + " " + item.modeloEmpleado.apellido1 + " " + item.modeloEmpleado.apellido2;

    <tr>
        <td>
            @Html.DisplayFor(modelItem => nombreCompleto)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.modeloRol.tipoRol)
        </td>

        <td>
            @*Boton de detalles del empleado*@
            <div class="col text-center">
                <a href="@Url.Action("Details","EMPLEADOes", new { cedulaPK = item.modeloEmpleado.cedulaPK})" style="float:initial">
                    <img src="~/images/more.svg" width="30" height="30" />
                </a>
            </div>
        </td>

    </tr>
    }

</table>

<div id="prueba"></div>