@model IEnumerable<PI_EXPERT_SA_WEB.Models.ROL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Equipos
    <a href="@Url.Action("Create","ROL", new { })" style="float:right">
        <img src="~/images/plus.svg" width="30" height="30" />
    </a>
</h2>

<table class="table table-bordered table-striped">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.tipoRol)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.EMPLEADO.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROYECTO.cedulaClienteFK)
        </th>
        <th>
            Ver más información
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.tipoRol)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.EMPLEADO.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROYECTO.cedulaClienteFK)
        </td>
        <td>
            <div class="col text-center">
                <a href="@Url.Action("Details","PROYECTO", new {id = item.idProyectoPK})" style="float:unset">
                    <img src="~/images/more.svg" width="30" height="30" />
                </a>
            </div>
        </td>
    </tr>
}

</table>
