@model PI_EXPERT_SA_WEB.Models.HABILIDADES

@{
    ViewBag.Title = "Delete";
}

<a href="@Url.Action("Index", new {id = Model.cedulaEmpleadoPK })" style="float:left">
        <img src="~/images/left-arrow.svg" width="40" height="30" />
 </a>
<h2>Eliminar habilidad</h2>
<h3 class="text-center alert">¿Esta seguro que desea borrar?</h3>

<div>
    <h4>Habilidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EMPLEADO.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.habilidadPK)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group text-center">
            @*<input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { id = Model.cedulaEmpleadoPK })*@
            <input type="image" src="~/images/deleteImg.svg" alt=”submit” name=”submit” width="50" height="50" />
        </div>
    }
</div>

