@model IEnumerable<PI_EXPERT_SA_WEB.Models.HABILIDADES>

@{
    ViewBag.Title = "Index";
}


<a href="@Url.Action("Index","EMPLEADOes", new {})" style="float:left">
    <img src="~/images/left-arrow.svg" width="40" height="30" />
</a>
<h2>Lista de habilidades</h2>

<a href="@Url.Action("Create","HABILIDADES", new { })" style="float:right">
    <img src="~/images/plus.svg" width="30" height="30" />
</a>

<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.EMPLEADO.cedulaPK)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.habilidadPK)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.EMPLEADO.cedulaPK)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.habilidadPK)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.EMPLEADO.cedulaPK, habilidad = item.habilidadPK }) |
                 @Html.ActionLink("Delete", "Delete", new { id = item.EMPLEADO.cedulaPK, habilidad = item.habilidadPK })*@
                <a href="@Url.Action("Delete","HABILIDADES", new {id = item.EMPLEADO.cedulaPK, habilidad = item.habilidadPK })" style="float:right">
                    <img src="~/images/deleteImg.svg" width="30" height="30" />
                </a>
            </td>

        </tr>
    }
</table>
@*<div>*@
@*@Html.ActionLink("Back to List", "Index", "EMPLEADOes")*@
@*</div>*@