@model PI_EXPERT_SA_WEB.Models.EMPLEADO

@{
    ViewBag.Title = "Details";
}


<a href="@Url.Action("Delete","EMPLEADOes", new { id = Model.cedulaPK })" style="float:right">
    <img src="~/images/deleteImg.svg" width="30" height="30" />
</a>
<a href="@Url.Action("Edit","EMPLEADOes", new { id = Model.cedulaPK })" style="float:right">
    <img src="~/images/editImg.svg" width="30" height="30" />
</a>

<a href="@Url.Action("Index","EMPLEADOes", new {})" style="float:left">
        <img src="~/images/left-arrow.svg" width="40" height="30" />
</a>
<div class="form-horizontal">
    <h4>Informacion del empleado</h4>
    <hr />

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.cedulaPK, htmlAttributes: new { @class = "control-label col-md-2", @align = "left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.cedulaPK, new { disabled = "disabled" })
        </div>
    </div>

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2", @align = "left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.nombre, new { disabled = "disabled" })
        </div>
    </div>


    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.apellido1, htmlAttributes: new { @class = "control-label col-md-2", @align = "left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.apellido1, new { disabled = "disabled" })
        </div>
    </div>

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.apellido2, htmlAttributes: new { @class = "control-label col-md-2", @align = "left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.apellido2, new { disabled = "disabled" })
        </div>
    </div>


    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.fechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2", @align = "left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.fechaNacimiento, new { disabled = "disabled" })
        </div>
    </div>

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2", @align = "left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.telefono, new { disabled = "disabled" })
        </div>
    </div>

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.provincia, htmlAttributes: new { @class = "control-label col-md-2", @align = "left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.provincia, new { disabled = "disabled" })
        </div>
    </div>
    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.canton, htmlAttributes: new { @class = "control-label col-md-2", @align = "left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.canton, new { disabled = "disabled" })
        </div>
    </div>

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.distrito, htmlAttributes: new { @class = "control-label col-md-2", @align = "left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.distrito, new { disabled = "disabled" })
        </div>
    </div>

    <div class="form-group row offset-3 ">
        @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2", @align = "left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.correo, new { disabled = "disabled" })
        </div>
    </div>

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.fechaContratacion, htmlAttributes: new { @class = "control-label col-md-2", @align = "left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.fechaContratacion, new { disabled = "disabled" })
        </div>
    </div>

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.fechaDespido, htmlAttributes: new { @class = "control-label col-md-2", @align = "left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.fechaDespido, new { disabled = "disabled" })
        </div>
    </div>

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.tipoUsuario, htmlAttributes: new { @class = "control-label col-md-2", @align = "left" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.tipoUsuario, new { disabled = "disabled" })
        </div>
    </div>

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.disponibilidad, htmlAttributes: new { @class = "control-label col-md-2", @align = "left" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.disponibilidad, new { disabled = "disabled" })
            </div>
        </div>
        <div class="form-group text-center ">
            @*<a href="@Url.Action("Index","EMPLEADOes", new {})" style="float:left">
                    <img src="~/images/left-arrow.svg" width="30" height="30" />
                </a>*@
        </div>
    </div>
</div>

