@model PI_EXPERT_SA_WEB.Models.EMPLEADO

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>EMPLEADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaContratacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaContratacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaDespido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaDespido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disponibilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponibilidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.canton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.cedulaPK }) |
    @Html.ActionLink("Borrar", "Delete", new { id = Model.cedulaPK }) |
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info btn-large text-center" })
</p>
