@model PI_EXPERT_SA_WEB.Models.MODULO

@{
    ViewBag.Title = "Delete";
}

<a href="@Url.Action("Index","MODULO", new {})" class="boton-icono" style="float:left">
    <img src="~/images/left-arrow.svg" width="30" height="30" />
</a>

<h2>Borrar Módulo</h2>

<div class="separador"></div>


<div>
    <h4 style="color:red">¿Está seguro de que desea borrar este proyecto y los datos asociados al mismo?</h4> <p></p>
    <d1 class="d1-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idModuloPK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idModuloPK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idProyectoPK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProyectoPK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

    </d1>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col text-center">
            <div class="form-group">
                <div class="col-md-auto" style="margin-top: 50px">
                    @*Comenta botones textuales*@
                    @*<input type="submit" value="Aceptar" class="btn btn-info btn-large" style="margin-left: 150px" />*@
                    @*@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info btn-large ", style = "margin-left: 80px" })*@
                    <input type="image" src="~/images/success.svg" alt=”submit” name=”submit” width="50" height="50" style="float: unset" />
                </div>
            </div>
        </div>

    }

</div>

