@model PI_EXPERT_SA_WEB.Models.MODULO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("Delete","MODULO", new { idModuloPK = Model.idModuloPK, idProyectoPK = Model.idProyectoPK })" class="boton-icono" style="float:right">
    <img src="~/images/deleteImg.svg" width="30" height="30" />
</a>
<a href="@Url.Action("Edit","MODULO", new { idModuloPK = Model.idModuloPK, idProyectoPK = Model.idProyectoPK})" class="boton-icono" style="float:right">
    <img src="~/images/editImg.svg" width="30" height="30" />
</a>

<a href="@Url.Action("Index","MODULO", new { idModuloPK = Model.idModuloPK, idProyectoPK = Model.idProyectoPK })" class="boton-icono" style="float:left">
    <img src="~/images/left-arrow.svg" width="30" height="30" />
</a>

<h2>Resumen de Módulo</h2>
<div class="separador"></div>

<div>
    <h4>Datos del Módulo</h4>


    <d1 class="d1-horizontal">
        <dt class>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idModuloPK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idModuloPK)
        </dd>

        <dt class>
            @Html.DisplayNameFor(model => model.idProyectoPK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProyectoPK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

    </d1>
</div>


