@model IEnumerable<PI_EXPERT_SA_WEB.Models.MODULO>

@{
    ViewBag.Title = "Index";
}

<h2>Módulos</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idModuloPK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.idModuloPK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicio)
        </td>
        
        @*<td>
            @Html.ActionLink("Details", "Details", new { idModuloPK = item.idModuloPK, idProyectoPK = item.idProyectoPK })
            @Html.ActionLink("Edit", "Edit", new { idModuloPK = item.idModuloPK, idProyectoPK = item.idProyectoPK }) |
            @Html.ActionLink("Details", "Details", new { idModuloPK = item.idModuloPK, idProyectoPK = item.idProyectoPK }) |
            @Html.ActionLink("Delete", "Delete", new { idModuloPK = item.idModuloPK, idProyectoPK = item.idProyectoPK })
        </td>*@

        <td>
            <div class="col text-center">
                @Html.ActionLink("Más información", "Details", new { idModuloPK = item.idModuloPK, idProyectoPK = item.idProyectoPK }, new { @class = "btn btn-outline-secondary btn-sm text-center" })
            </div>
        </td>
    </tr>
}

</table>

<div class="col text-center">
    <p>
        @Html.ActionLink("Crear Modulo", "Create", null, new { @class = "btn btn-info btn-large text-center" })
    </p>
</div>
