@model PI_EXPERT_SA_WEB.Models.PROYECTO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Create permite al usuario crear un proyecto, introduciendo los valores de sus atributos. Algunos de estos son opcionales, y otros obligatorios, de acuerdo
a los requerimientos del sistema.*@

<a href="@Url.Action("Index","PROYECTO", new {})" class="boton-icono" style="float:left">
    <img src="~/images/left-arrow.svg" width="30" height="30" />
</a>
<h2>Crear Proyecto</h2>
<div class="required-field-asterisk">
    <p>*<span style="color:black">Campos requeridos</span> </p>
</div>

@*Se hace uso de forms para recopilar la información.*@

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*Form para ID de proyecto. Inicialmente era posible incluirlo manualmente, pero luego se solicitó que fuesen valores autogenerados.*@
    @*<div class="form-group row offset-3 required">
        @Html.LabelFor(model => model.idProyectoPK, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.idProyectoPK, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.idProyectoPK, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group row offset-3 required">
        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row offset-3 required">
        @Html.LabelFor(model => model.objetivo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.objetivo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.objetivo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row offset-3 required">
        @Html.LabelFor(model => model.fechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fechaInicio, new { htmlAttributes = new { @class = "form-control", type= "date" } })
            @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.costoEstimado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.costoEstimado, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.costoEstimado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.costoReal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.costoReal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.costoReal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.costoDesarrollador, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.costoDesarrollador, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.costoDesarrollador, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.fechaFin, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fechaFin, new { htmlAttributes = new { @class = "form-control", type= "date" } })
            @Html.ValidationMessageFor(model => model.fechaFin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.duracionEstimada, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.duracionEstimada, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.duracionEstimada, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.duracionReal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.duracionReal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.duracionReal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row offset-3 required">
        @Html.LabelFor(model => model.cedulaClienteFK, "Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("cedulaClienteFK", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.cedulaClienteFK, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row offset-3 required">
        @Html.LabelFor(model => model.cedulaLiderFK, "Líder", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("cedulaLiderFK", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.cedulaLiderFK, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col text-center">
        <div class="form-group">
            <div class="col-md-auto" style="margin-top: 50px">
                @* Comenta botones textuales *@
                @*<input type="submit" value="Aceptar" class="btn btn-info btn-large" style="margin-left: 150px" />*@
                @*@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info btn-large ", style = "margin-left: 80px" })*@
                <input type="image" src="~/images/success.svg" alt=”submit” name=”submit” width="50" height="50" style="float: unset" />
            </div>
        </div>
    </div>
     
    </div>
    }

    

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
