@model IEnumerable<PI_EXPERT_SA_WEB.Models.PROYECTO>

@{
    ViewBag.Title = "Index";
}

<h2>Mis Proyectos
    <a href="@Url.Action("Create","PROYECTO", new { })" style="float:right">
        <img src="~/images/plus.svg" width="30" height="30" />
    </a>
</h2>

<table class="table table-bordered table-striped">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.idProyectoPK)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.objetivo)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFin)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.costoEstimado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costoReal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costoDesarrollador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracionEstimada)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CLIENTE.name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.idProyectoPK)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.objetivo)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.fechaInicio)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.fechaFin)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.CLIENTE.name)
            </td>
            <td>
                <div class="col text-center">
                    @*Escondidas las opciones de editar y borrar en Index por requerimientos del sistema*@
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.idProyectoPK }) |*@
                    @Html.ActionLink("Más información", "Details", new { id = item.idProyectoPK }, new { @class = "btn btn-outline-secondary btn-sm text-center" })
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.idProyectoPK })*@
                </div>
            </td>
        </tr>

    }

</table>

@*Botón con texto para crear un nuevo proyecto, en caso de que se decida cambiar el estándar de íconos a texto.*@
@*<div class="col text-center">
    <p>
        @Html.ActionLink("Crear Proyecto", "Create", null, new { @class = "btn btn-info btn-large text-center" })
    </p>
</div>*@
